.NavBar {
  background-color: #67d09f;
}

.NavLink,
.NavDropdown {
  padding: 0.4rem;
}

.Active i {
  color: #ac524b;
}

@media screen and (min-width: 768px) {
  .Active {
    border-bottom: 2px solid #ac524b;
  }
}
