.TaskDetails {
    padding: .75rem 1.25rem;
}

.CommentsCount {
    padding-right: 2rem;
}

.Label {
    background-color: #AC524B;
    color: #FFFFFF;
    padding: 0.5rem;
    font-size: 0.75rem;
}

.Card {
    border: 1px solid #376153;
    border-radius: .25rem;
}

@media screen and (max-width: 540px) {
    .Labels {
        flex-direction: column;
        text-align: center;
    }

    .Label {
        margin-top: 0.4rem;
    }

    .Col {
        width: auto;
    }
}

