.App {
    color: #1E252A;
    background-color: #D7DDE9;
    min-height: 100vh;
    font-family: "Raleway", italic;
}

h1 {
    font-family: "Fredoka", italic;
}

a {
    color: #1E252A;
}

a:hover {
    text-decoration: none;
}